node_modules/
.nuxt/
.output/
.vercel/
dist/
*.log
.env
.env.*
!.env.example
.vercel
.env*

public/catalog/products/_backup/

# Сгенерированные прайс-листы
*.xlsx

# партнёрские прайсы-исходники (тяжёлые)
partners/
